version: "3.8"

services:
  # 1. Strapi (バックエンド)
  strapi:
    build: ./strapi-app # ./strapi-app/Dockerfile を使う
    container_name: strapi_backend
    volumes:
      - ./strapi-app:/app # ローカルのコードをコンテナに同期
      - /app/node_modules # コンテナ内のnode_modulesを上書きさせない
      - /app/build
      - /app/.cache
    ports:
      - "1337:1337" # Strapi API (e.g. localhost:1337)
    environment:
      DATABASE_CLIENT: postgres
      DATABASE_HOST: ${SUPABASE_DB_HOST} # サービス名 'db' を指定
      DATABASE_PORT: 5432
      DATABASE_NAME: postgres
      DATABASE_USERNAME: ${SUPABASE_DB_USER}
      DATABASE_PASSWORD: ${SUPABASE_DB_PASSWORD}
      DATABASE_SSL: "false"
      JWT_SECRET: ${STRAPI_JWT_SECRET} # ローカル用のJWT秘密鍵
      ADMIN_JWT_SECRET: ${STRAPI_ADMIN_JWT_SECRET} # ローカル用のAdmin秘密鍵

      APP_KEYS: ${APP_KEYS}
      API_TOKEN_SALT: ${API_TOKEN_SALT}

      NODE_ENV: development
    restart: unless-stopped

  # 2. Nuxt.js (フロントエンド)
  nuxtjs:
    build: ./nuxt-app # ★ビルド対象を nuxt-app に変更
    container_name: nuxtjs_frontend
    volumes:
      - ./nuxt-app:/app
      - /app/node_modules
      - /app/.nuxt
    ports:
      - "3000:3000"
    depends_on:
      - strapi
    environment:
      # ★Nuxt.js用の環境変数名に変更
      # Nuxt (クライアントサイド) からStrapi APIを叩くURL
      NUXT_PUBLIC_STRAPI_API_URL: http://localhost:1337
      # Nuxt (サーバーサイド) からStrapi APIを叩くURL
      NUXT_STRAPI_API_URL: http://strapi:1337

      NODE_ENV: development
    restart: unless-stopped

volumes: {}
