// カラーパレット
$fontColor: #333333;
$color-accent: #41b883; // Nuxt Green
$color-bg: #f4f4f4;
$color-white: #ffffff;

// フォントなど
$font-base: "Zen Kaku Gothic New", sans-serif;
$font-futura: "Jost", sans-serif;
